<div class="contact">
    <div class="contact-smallTitle smallTitle"><%= smallTitle %></div>
    <div class="contact-bigTitle bigTitle"><%= bigTitle %></div>

    <div class="contactArea">
        <div class="column1">
            <div class="contact-tile">
                <div class="contact-square"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div class="contact-text">sebastian@dancau.net</div>
            </div>

            <div class="contact-tile">
                <div class="contact-square"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="contact-text">+40 769 961 100</div>
            </div>

            <div class="contact-tile">
                <div class="contact-square"><i class="fa fa-map-o" aria-hidden="true"></i></div>
                <div class="contact-text"><%= location %></div>
            </div>

        </div>
        <div class="column2">
            <form action="/message?lng=<%= language %>" method="POST">
                <div class="inputBox">
                    <input class="contactInput" type="email" name="email" placeholder="<%= placeholder[0] %>" required>
                    <div class="inputUnderline"></div>
                </div>
                <div class="inputBox">
                    <input class="contactInput" type="text" name="subject" placeholder="<%= placeholder[1] %>" required>
                    <div class="inputUnderline"></div>
                </div>
                <div class="inputBox">
                    <textarea class="contactInput" name="message" required
                        placeholder="<%= placeholder[2] %>"></textarea>
                    <div class="inputUnderline"></div>
                </div>
                <button type="submit"><%= submitButton %></button>
            </form>
        </div>
    </div>


</div>