<div class="navigation">
    <ul>
        <li>
            <a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.homeDiv)">
                <%= navigationItem[0] %>
                <div class="underline"></div>
            </a>
        </li>
        <li>
            <a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.aboutDiv)">
                <%= navigationItem[1] %>
                <div class="underline"></div>
            </a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.educationDiv)">
                <%= navigationItem[2] %>
                <div class="underline"></div>
            </a>
        </li>
        
        <li><a class="navLink" onclick=" closeNav(ok);scrollToDiv(DomElements.skillsDiv)">
                <%= navigationItem[3] %>
                <div class="underline"></div>
            </a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.projectsDiv)">
                <%= navigationItem[4] %>
                <div class="underline"></div>
            </a>
        </li>
        
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.trainingDiv)">
            <%= navigationItem[5] %>
            <div class="underline"></div>
        </a>
        </li>
            <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.achivementsDiv)">
                <%= navigationItem[6] %>
                <div class="underline"></div>
            </a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.contactDiv)">
            <%= navigationItem[7] %>
            <div class="underline"></div>
            </a>
        </li>
    </ul>
</div>