<div class="navigation">
    <ul>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.homeDiv)"><%= navigationItem[0] %></a></li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.aboutDiv)"><%= navigationItem[1] %></a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.educationDiv)"><%= navigationItem[2] %></a>
        </li>
        <li><a class="navLink" onclick=" closeNav(ok);scrollToDiv(DomElements.skillsDiv)"><%= navigationItem[3] %></a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.projectsDiv)"><%= navigationItem[4] %></a>
        </li>
        <li><a class="navLink" onclick="closeNav(ok);scrollToDiv(DomElements.contactDiv)"><%= navigationItem[5] %></a>
        </li>
    </ul>
</div>