<div class="skills">
    <div class="skills-smalltitle smallTitle"><%= smallTitle %></div>
    <div class="skills-bigTitle bigTitle"><%= bigTitle %></div>

    <div class=" skillTile" style="border-bottom:3px solid #57adf3;">
        <div class="skillTitle"><%= skillsTitle[0] %></div>
        <div class="skillArea">
            <img class="skillImage" src="../Images/html.png" alt="Html5">
            <img class="skillImage" src="../Images/css.png" alt="Css">
            <img class="skillImage" src="../Images/javascipt.png" alt="Javascript">
            <img class="skillImage" src="../Images/nodejs.png" alt="Nodejs">
            <img class="skillImage" src="../Images/express.png" alt="Express">
            <img class="skillImage" src="../Images/php.png" alt="Php">
            <img class="skillImage" src="../Images/mysql.png" alt="Mysql">
        </div>
    </div>
    <div class=" skillTile" style="border-bottom:3px solid #facc66;">
        <div class="skillTitle"><%= skillsTitle[1]  %></div>
        <div class="skillArea">
            <img class="skillImage" src="../Images/github.svg" alt="Github">
            <img class="skillImage" src="../Images/Git.png" alt="Git">
            <img class="skillImage" src="../Images/heroku.png" alt="Heroku">
            <img class="skillImage" src="../Images/npm.png" alt="npm">
            <img class="skillImage" src="../Images/webpack.png" alt="Webpack">
            <img class="skillImage" src="../Images/babel.png" alt="Babel">
            <img class="skillImage" src="../Images/XAMPP.png" alt="Xampp">
        </div>

    </div>
    <div class="skillTile" style="border-bottom:3px solid #f07776;">
        <div class="skillTitle"><%= skillsTitle[2] %></div>
        <div class="skillArea">
            <img class="skillImage" src="../Images/photoshop.png" alt="Photoshop">
            <img class="skillImage" src="../Images/xd.png" alt="Adobe XD">
        </div>
    </div>

</div>