<!DOCTYPE html>
<html>

<head>

	<!-- Seo -->
	<meta name="keywords" content="HTML, CSS, JavaScript, Dancau Sebastian, Cv, Resume, Internship, Job">
	<meta name="description"
		content="Site-ul personal al lui Dancau Sebastian. Aici gasesti detalii referitoare la proiecte, cv, competente.">
	<meta name="author" content="Dancau Sebastian">
	<meta name="language" content="ro">

	<link rel="shortcut icon" href="/favicon.ico?v=1.1">
	<link rel="apple-touch-icon" href="../public/apple_icon.png" />


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Dăncău Sebastian - Website Personal</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-toward.css" />
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light-border.css" />
</head>

<body>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>

	<div class="main">
		<!-- Seo -->
		<h1 style="display: none;">Dancau Sebastian Site Personal</h1>
		<h2 style="display: none;">Site Personal</h2>

		<!-- Hamburger icon -->
		<%- include('modules/hamburger') %>


		<!-- Left area -->
		<div class="leftside">

			<!-- Profile image, name and subtitle -->
			<%- include('modules/profileShowcase',{
				profileCountry: 'ÎN ROMÂNIA'
			}) %>

			<!-- Social icons -->
			<%- include('modules/social') %>

			<!-- Navigation -->
			<%- include('modules/navigation',{
					navigationItem: ['Acasă','Despre','Educație','Experiență','Cunoștințe','Proiecte','Pregătire','Realizări','Contact']
			}) %>

			<!-- Footer -->
			<%- include('modules/footer',{
				footerContent: 'Copyright© 2020 Toate drepturile rezervate<br>Creat de <b>Dancau Sebastian</b>'
			}) %>

			<!-- Language selection -->
			<%- include('modules/languages',{
				language: 'ro'
			}) %>

		</div>


		<!-- Right area -->
		<div class="rightside">

			<!-- Banner image and text -->
			<%- include('modules/banner',{
				bannerTitle: "Salut!<br> Eu sunt Sebi",
				subTitle: 'Și sunt un tânăr pasionat de programare.',
				buttonText: 'DESCARCĂ CV'
			}) %>



			<!-- About area -->
			<%- include('modules/aboutArea',{
				<!-- Small title goes here -->
				smallTitle: 'Despre mine',

				<!-- Big title goes here -->
				bigTitle: 'Cine sunt eu?',

				<!-- Content goes here -->
				aboutContent: "Sunt o persoană motivată și muncitoare cu o pasiune puternică pentru crearea și dezvoltarea website-urilor. În momentul de față sunt student în anul I la facultatea de Matematică și Informatică.În ultimii ani am lucrat la diverse proiecte, personale sau plătite și am dobândit cunoștințe necesare de programare.<br><br>Nu voi rata nicio oportunitate de a învăța ceva nou. În momentul de față sunt deschis pentru orice oportunitate de angajare sau internship. Proiectele mele se caracterizează prin: dinamism, site-uri responsive, atractive."
			}) %>



			<!-- Education area -->
			<%- include('modules/educationArea',{
				<!-- Small title goes here -->
				smallTitle: 'Istoricul educației',

				<!-- Big title goes here -->
				bigTitle: 'Educație',

				<!-- Education tiles goes here -->
				education: [
				'2020-present</span><br> Universitatea București, Facultatea de Matematică și Informatică',
				'2016-2020</span><br> Colegiul "Mircea Cel Bătrân", Rm. Vâlcea<br>Matematică și Informatică',
				]
			}) %>

			<!-- Experience area -->
			<%- include('modules/experienceArea',{
				<!-- Small title goes here -->
				smallTitle: 'Experienta',

				<!-- Big title goes here -->
				bigTitle: 'Experienta mea de munca',

				<!-- Achivement tiles goes here -->
				experience: [
				{
					'logo': './Images/sst.png',
					'company': 'Stone Soup Tech',
					'period':'iulie 2021 - prezent',
					'position':'Android & Media Server Developer'
				}
				]
			}) %>


			<!-- Skills area -->
			<%- include('modules/skillsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Cunoștințe',

				<!-- Big title goes here -->
				bigTitle: 'Top limbaje și unelte',

				<!-- Skill categories titles goes here -->
				skillsTitle: [
				'Limbaje de programare',
				'Unelte',
				'Design',
				]
			}) %>

			<!-- Projects area -->
			<%- include('modules/projectsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Proiecte',

				<!-- Big title goes here -->
				bigTitle: 'Munca mea recenta',

				<!-- Button text -->
				buttonText: 'VEZI MAI MULT'
			}) %>

			<!-- Training area -->
			<%- include('modules/trainingArea',{
				<!-- Small title goes here -->
				smallTitle: 'Pregătire',

				<!-- Big title goes here -->
				bigTitle: 'Certificari/Cursuri',

				<!-- Education tiles goes here -->
				training: [
				'Certificare IC3 Digital Literacy',
				'Experiență Erasmus exchange în 2016',
				'Cursul PHP Fundamentals de Edwin Diaz',
				'Cursul The Complete Javascript de Jonas Schmedtmann',
				'Curs React de Maximilian Schwarzmüller',
				'Docker Workshop de JSLeague',
				]
			}) %>

			<!-- Achivements area -->
			<%- include('modules/achivementArea',{
				<!-- Small title goes here -->
				smallTitle: 'Realizări',

				<!-- Big title goes here -->
				bigTitle: 'Realizări',

				<!-- Achivement tiles goes here -->
				achivement: [
				'2019</span><br> Olimpiada Națională de Tehnologia Informației<br>Medalie de Bronz',
				'2019</span><br> Articol Micro:bit în Revista Școlii<br>\"ROaITă - Revista pentru pasionati de IT&C 4\"',
				]
			}) %>

			<!-- Contact area -->
			<%- include('modules/contactArea',{
				<!-- Small title goes here -->
				smallTitle: 'Contact',

				<!-- Big title goes here -->
				bigTitle: 'Intră în contact cu mine',

				<!-- Location goes here -->
				location: 'Romania, București',

				<!-- Placeholders for inputs goes here -->
				placeholder: [
				'Email',
				'Subiect',
				'Mesaj',
				],

				<!-- Submit button text goes here -->
				submitButton: 'Trimite Mesaj'
			}) %>


		</div>

	</div>

	<input type="hidden" class="languageDetect" value="<%= language %>">
	<script>
		tippy('.skillImage', {
			placement: 'bottom',
			zIndex: 100,
			animation: 'shift-toward',
			theme: 'light-border',
			touch: false
		});
	</script>
	<script src="index.js"></script>
</body>

</html>