<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Dăncău Sebastian</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-toward.css" />
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light-border.css" />
</head>

<body>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>
	<div class="main">

		<!-- Hamburger icon -->
		<%- include('modules/hamburger') %>

		<!-- Left area -->
		<div class="leftside">

			<!-- Profile image, name and subtitle -->
			<%- include('modules/profileShowcase',{
				profileCountry: 'IN ROMANIA'
			}) %>

			<!-- Social icons -->
			<%- include('modules/social') %>

			<!-- Navigation -->
			<%- include('modules/navigation',{
					navigationItem: ['Home','About','Education','Training','Skills','Projects','Contact']
			}) %>

			<!-- Footer -->
			<%- include('modules/footer',{
				footerContent: 'Copyright© 2020 All rights reserved<br>Developed by <b>Dancau Sebastian</b>'
			}) %>



			<!-- Language selection -->
			<%- include('modules/languages',{
				language: 'en'
			}) %>

		</div>


		<!-- Right area -->
		<div class="rightside">

			<!-- Banner image and text -->
			<%- include('modules/banner',{
				bannerTitle: "Hi!<br>I'm Sebi",
				subTitle: 'And i am a passionate developer.',
				buttonText: 'DOWNLOAD CV'
			}) %>


			<!-- About area -->
			<%- include('modules/aboutArea',{
				<!-- Small title goes here -->
				smallTitle: 'About me',

				<!-- Big title goes here -->
				bigTitle: 'Who am i?',

				<!-- Content goes here -->
				aboutContent: "I am a motivated and hardworking individual with great passion for coding and developing websites. I am currently in my first year of studying Computer Science at university. Last years i've worked on multiple projects, personal or paid and i achived some of the programming skills necessary nowdays.<br><br>Anytime I have the opportunity to learn something new, I won't miss it. I am currently available for a job oportunity and searching for a summer internship experience. Some things about my projects: fast, responsive, attractive, dynamic."
			}) %>


			<!-- Education area -->
			<%- include('modules/educationArea',{
				<!-- Small title goes here -->
				smallTitle: 'Education history',

				<!-- Big title goes here -->
				bigTitle: 'Education',

				<!-- Education tiles goes here -->
				education: [
				'2020-present</span><br> University of Bucharest, Computer Science',
				'2016-2020</span><br> Highschool "Mircea Cel Batran", Rm. Valcea<br>Mathematics and computer science',
				]
			}) %>


			<!-- Training area -->
			<%- include('modules/trainingArea',{
				<!-- Small title goes here -->
				smallTitle: 'Education history',

				<!-- Big title goes here -->
				bigTitle: 'Training/Experiences',

				<!-- Education tiles goes here -->
				training: [
				'IC3 Digital Literacy Certification',
				'Erasmus exchange experience in 2016',
				'PHP Fundamentals course by Edwin Diaz',
				'The Complete Javascript course by Jonas Schmedtmann',
				'React course by Maximilian Schwarzmüller',
				'Docker Workshop by JSLeague',
				]
			}) %>


			<!-- Skills area -->
			<%- include('modules/skillsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Skills',

				<!-- Big title goes here -->
				bigTitle: 'Top languages and tools',

				<!-- Skill categories titles goes here -->
				skillsTitle: [
				'Programming Languages',
				'Tools',
				'Design',
				]
			}) %>

			<!-- Projects area -->
			<%- include('modules/projectsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Projects',

				<!-- Big title goes here -->
				bigTitle: 'My recent work',

				<!-- Button text -->
				buttonText: 'VIEW MORE'
			}) %>

			<!-- Contact area -->
			<%- include('modules/contactArea',{
				<!-- Small title goes here -->
				smallTitle: 'Contact',

				<!-- Big title goes here -->
				bigTitle: 'Get in touch with me',

				<!-- Location goes here -->
				location: 'Romania, Bucharest',

				<!-- Placeholders for inputs goes here -->
				placeholder: [
				'Email',
				'Subject',
				'Message',
				],

				<!-- Submit button text goes here -->
				submitButton: 'Send Message'
			}) %>

		</div>
	</div>
	<input type="hidden" class="languageDetect" value="<%= language %>">
	<script>
		tippy('.skillImage', {
			placement: 'bottom',
			zIndex: 100,
			animation: 'shift-toward',
			theme: 'light-border',
			touch: false
		});
	</script>
	<script src="index.js"></script>
</body>

</html>