<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Dancau Sebastian</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

	<div class="main">

		<!-- Hamburger icon -->
		<%- include('modules/hamburger') %>


		<!-- Left area -->
		<div class="leftside">

			<!-- Profile image, name and subtitle -->
			<%- include('modules/profileShowcase',{
				profileCountry: 'ÎN ROMÂNIA'
			}) %>

			<!-- Navigation -->
			<%- include('modules/navigation',{
					navigationItem: ['Acasă','Despre','Educație','Cunoștințe','Proiecte','Contact']
			}) %>

			<!-- Footer -->
			<%- include('modules/footer',{
				footerContent: 'Copyright© 2020 Toate drepturile rezervate<br>Creat de <b>Dancau Sebastian</b>'
			}) %>

			<!-- Language selection -->
			<%- include('modules/languages',{
				language: 'ro'
			}) %>

		</div>


		<!-- Right area -->
		<div class="rightside">

			<!-- Banner image and text -->
			<%- include('modules/banner',{
				bannerTitle: "Salut!<br> Eu sunt Sebi",
				subTitle: 'Și sunt un tănăr pasionat de programare.',
				buttonText: 'DESCARCĂ CV'
			}) %>



			<!-- About area -->
			<%- include('modules/aboutArea',{
				<!-- Small title goes here -->
				smallTitle: 'Despre mine',

				<!-- Big title goes here -->
				bigTitle: 'Cine sunt eu?',

				<!-- Content goes here -->
				aboutContent: " Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit ea ipsam nostrum eveniet eius incidunt aliquam, laudantium beatae, porro totam. Eos doloremque sit eum perspiciatis aperiam dicta, at error. Iure iusto laboriosam veniam autem doloribus illo numquam omnis asperiores reiciendis tempore exercitationem eligendi explicabo quaerat repudiandae quasi, libero odio voluptas doloremque porro delectus modi at molestiae nostrum!<br><br> Ex ratione ipsum quia? Tenetur repellat autem quasi nam voluptatum fuga? Pariatur, itaque minima? Reiciendis, assumenda. Reiciendis, praesentium itaque debitis aspernatur natus dolores eum vitae, eius facere illo consectetur repellendus similique neque?"
			}) %>



			<!-- Education area -->
			<%- include('modules/educationArea',{
				<!-- Small title goes here -->
				smallTitle: 'Istoricul educației',

				<!-- Big title goes here -->
				bigTitle: 'Educație',

				<!-- Education tiles goes here -->
				education: [
				'2016-2020</span><br> Colegiul "Mircea Cel Bătrân", Rm. Vâlcea',
				'2020-present</span><br> Universitatea București, Facultatea de Matematică și Informatică',
				'2018</span><br> Certificare IC3 Digital Literacy',
				'2020</span><br> Cursurile Php fundamentals de Edwin Diaz si Complete Javascript de Jonas Schmedtmann completate'
				]
			}) %>



			<!-- Skills area -->
			<%- include('modules/skillsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Cunoștințe',

				<!-- Big title goes here -->
				bigTitle: 'Top limbaje și unelte',

				<!-- Skill categories titles goes here -->
				skillsTitle: [
				'Limbaje de programare',
				'Unelte',
				'Design',
				]
			}) %>

			<!-- Projects area -->
			<%- include('modules/projectsArea',{
				<!-- Small title goes here -->
				smallTitle: 'Proiecte',

				<!-- Big title goes here -->
				bigTitle: 'Munca mea recenta',

				<!-- Button text -->
				buttonText: 'VEZI MAI MULT'
			}) %>

			<!-- Contact area -->
			<%- include('modules/contactArea',{
				<!-- Small title goes here -->
				smallTitle: 'Contact',

				<!-- Big title goes here -->
				bigTitle: 'Intră în contact cu mine',

				<!-- Location goes here -->
				location: 'Romania, București',

				<!-- Placeholders for inputs goes here -->
				placeholder: [
				'Email',
				'Subiect',
				'Mesaj',
				],

				<!-- Submit button text goes here -->
				submitButton: 'Trimite Mesaj'
			}) %>


		</div>

	</div>

	<input type="hidden" class="languageDetect" value="<%= language %>">
	<script src="index.js"></script>
</body>

</html>