<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="shortcut icon" href="/favicon.ico?v=1.1">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= project.title %> - Dancau Sebastian</title>
    <link rel="stylesheet" href="projectStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

    <div class="main">
        <a href="/" class="return"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <div class="projectTitle"><%= project.title %></div>
        <div class="categories">
            <% project.categories.forEach(el => { %>
            <div class="category"><%= el %></div>
            <% }) %>
        </div>
        <div class="photoCarousell">
            <div class="photoContainer"></div>
            <div class="photoSelection">
                <% for(let i=0 ; i< project.images.length; i++) { %>
                <div class="dot "></div>
                <% } %>
            </div>
        </div>

        <% if(project.fullDescription.length > 100) { %>
        <div class="description">
            <div class="smallTitle">Description</div>
            <div class="bigTitle">About project</div>
            <div class="text"><%- project.fullDescription %></div>
        </div>
        <% } %>

        <% if(project.githubLink != 'none' || project.websiteLink!='none' ) { %>
        <div class="links">
            <div class="smallTitle">Links</div>
            <div class="bigTitle">View source code and project</div>
            <div class="flexContainer">
                <% if(project.githubLink != 'none') { %>
                <a href="<%= project.githubLink %>" target="_blank"><img
                        src="https://github-readme-stats.vercel.app/api/pin/?username=ssebi1&repo=DailyPlay&show_owner=true"
                        alt="github">
                </a>
                <% } %>

                <% if(project.websiteLink != 'none') { %>
                <div class="website">Get to website for a live demo.</div>
                <% } %>

            </div>
        </div>
        <% } %>

        <input type="hidden" class="imagesArray" value="<%= project.images %>">
        <input type="hidden" class="descriptionText" value="<%= project.description %>">
        <input type="hidden" class="websiteLink" value="<%= project.websiteLink %>">

    </div>

    <script>
        const images = document.querySelector('.imagesArray').value.split(',');
        const dots = document.querySelectorAll('.dot');

        function init() {
            activateDot(0);
            changeImage(0);
        }

        init();

        function activateDot(id) {
            dots.forEach(el => {
                el.classList.remove('active');
                el.classList.add('unactive');
            })
            dots[id].classList.remove('unactive');
            dots[id].classList.add('active');
        }

        function changeImage(id) {
            const imageContainer = document.querySelector('.photoContainer');
            imageContainer.style.backgroundImage = `url(${images[id]})`;
        }

        for (let i = 0; i < dots.length; i++) {
            dots[i].addEventListener('click', () => {
                activateDot(i);
                changeImage(i);
            })
        }

        // Open website event
        document.querySelector('.website').addEventListener('click', () => {
            const url = document.querySelector('.websiteLink').value;
            window.open(url, '_blank');

        })

    </script>
</body>

</html>